@use '../../styles/constants/colors';

.authContainer {
  display: flex;
  width: 100%;
  height: 100vh;

  img {
    position: relative;
    width: 45%;
    height: 100%;

    @media screen and (max-width: 750px) {
      display: none;
    }
  }

  .authBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 55%;
    padding: 0 10px;
    text-align: center;

    @media screen and (max-width: 750px) {
      width: 100%;
    }

    .helloMessage {
      margin: 50px 0 20px;
      font-size: 24px;
      font-weight: 700;

      p {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 100;
        color: colors.$GRAY_800;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        width: 320px;
        padding: 8px 5px;
        margin: 10px 0;
        background: colors.$NEAR_WHITE;
        border: 2px solid colors.$GRAY_100;
        border-radius: 8px;

        &::placeholder {
          font-size: 14px;
          color: colors.$GRAY_300;
        }

        &:focus {
          border: 2px solid colors.$GRAY_800;
        }

        &[type='submit'] {
          padding: 10px;
          font-size: 14px;
          color: colors.$WHITE;
          cursor: pointer;
          background: colors.$GRAY_800;
        }
      }
    }

    .changeForm {
      font-size: 13px;

      button {
        margin-left: 5px;
        color: colors.$GRAY_800;
        text-decoration: underline colors.$GRAY_800;
      }
    }
  }
}
