@use '../../../styles/constants/colors';

@mixin container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  transition: left 0.5s ease;

  @media screen and (max-width: 425px) {
    top: auto;
    bottom: 0;
    left: auto;
    transition: bottom 0.5s ease;
  }
}

.openContainer {
  @include container;
}

.closeContainer {
  @include container;
  left: -20vw;

  @media screen and (max-width: 1440px) {
    left: -40vw;
  }

  @media screen and (max-width: 425px) {
    bottom: -90vh;
    left: auto;
  }
}

.readNotesBox {
  position: relative;
  width: 20vw;
  height: 100vh;
  overflow-y: scroll;
  background: colors.$GRAY_100;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 10%);

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: colors.$GRAY_800;
    border-radius: 8px;
  }

  @media screen and (max-width: 1440px) {
    width: 40vw;
  }

  @media screen and (max-width: 425px) {
    width: 100vw;
    height: 90vh;
    border-radius: 15px 15px 0 0;

    &::-webkit-scrollbar {
      display: none;
    }

    .noMemoMessage {
      line-height: 100px;
      text-align: center;
    }
  }

  .hamburgerCloseIcon {

    @media screen and (max-width: 425px) {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 10;
      width: 25px;
      height: 25px;
      fill: colors.$GRAY_800;
    }
  }
}

.closeButton {
  position: relative;
  width: 20px;
  height: 40px;
  background: colors.$GRAY_100;
  border-radius: 0 8px 8px 0;

  .arrowIcon {
    width: 15px;
    height: 10px;
  }
}
