@use '../../../styles/constants/colors';

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0%);
}

.infoWindowContainer {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  width: 150px;
  min-height: 120px;
  padding: 5px 0;
  background: colors.$WHITE;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 20%);

  .memoButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Do Hyeon', serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    transition: color 0.1s linear;

    &:first-child {
      border-bottom: colors.$GRAY_100 1px solid;
    }

    &:hover {
      color: colors.$KEY;
    }

    .icon {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }
}
