@keyframes showAddNote {
  from { left: -20vw; }
  to { left: 0; }
}

@keyframes showAddNoteForDesktop {
  from { left: -40vw; }
  to { left: 0; }
}

@keyframes showNoteForMobile {
  from { bottom: -90vw; }
  to { bottom: 0; }
}

@mixin showNoteAnimation {
  animation: showAddNote 1s ease 0.1s 1 normal both;
}

@mixin showNoteForDesktopAnimation {
  animation: showAddNoteForDesktop 1s ease 0.1s 1 normal both;
}

@mixin showNoteForMobileAnimation {
  animation: showNoteForMobile 1s ease 0.1s 1 normal both;
}
