@keyframes showAddNote {
  from { left: -20vw; }
  to { left: 0; }
}

@keyframes showAddNoteForDesktop {
  from { left: -40vw; }
  to { left: 0; }
}

@mixin showAddNoteAnimation {
  animation: showAddNote 1s ease 0.1s 1 normal both;
}

@mixin showAddNoteForDesktopAnimation {
  animation: showAddNoteForDesktop 1s ease 0.1s 1 normal both;
}
