@use '../constants/colors';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300&display=swap');// font-family: 'Hahmlet', serif;
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');// font-family: 'Gowun Dodum', sans-serif;

body,
button {
  font-family: 'Gowun Dodum', sans-serif;
  font-feature-settings: 'tnum';
  color: colors.$FONT;
}

input,
textarea {
  font-family: 'Do Hyeon', serif;
  font-feature-settings: 'tnum';
  color: colors.$FONT;
}

input[type='search'],
input[type='email'],
input[type='password'] {
  font-family: 'Gowun Dodum', sans-serif;
}

input[type='number'] {
  font-feature-settings: 'tnum';

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

// 폰트 정리
